/* body styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* article styles */
article
{
    background-color: rgb(0, 73, 0);
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
}
/* hover */
form
{
    margin: 20px;
    background-color: rgb(75, 22, 9);
    border-radius: 30px;
    padding: 20px;
    color: rgb(3, 54, 3);
    text-shadow: -2px 0px 0px rgb(163, 99, 47), 2px 0px 0px rgb(163, 99, 47), 0px 2px 0px rgb(163, 99, 47), 0px -2px 0px rgb(163, 99, 47);
}
.inputs
{
    display: block;
    box-sizing: border-box;
}

.inputs > label
{
    display: block;
    margin: 0;
    text-indent: 0px;
}

.inputs > input
{
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 5px;
    border: 5px solid rgb(9, 77, 0);
    color: rgb(0, 83, 0);
    width: 100%;
}
.inputs > #textInput
{
    max-width: 100%;
    min-width: 100%;
    border: 5px solid rgb(9, 77, 0);
    color: rgb(0, 83, 0);
    padding: 5px;
}
.inputs > #Bday
{
    width: auto;
}
.inputs > input:focus
{
    border: 5px solid rgb(0, 141, 0); 
}
.inputs > #submitButton
{
    width: 50%;
    margin: auto;
    background-color:rgb(9, 77, 0);
    color: white;
    margin-top: 20px;
    transition: .33s;
}
.inputs > #submitButton:hover
{
    box-shadow: 0px 5px 0px rgb(5, 39, 0);
    transform: translate(0px, -5px);
    transition: .33s;
    background-color:rgb(11, 95, 0);
}

