@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PressStart2P';
}
nav {
    margin: 5px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
nav div {
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
nav img {
    width: 400px;
    height: 400px;
}
article {
    margin: 5px
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    background-color: #30572b;
    color: white;
    box-shadow: 0 20px 0 0 #30572b;
}
footer p {
    padding: 25px
}