@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}
/* header stuff */

header
{
    display: flex;
    width: 100%;
    border: solid 5px rgb(10, 20, 8);
}
.jumbotron
{
    background-color: rgb(43, 20, 15)!important;
    border-radius: 0px!important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PressStart2P';
    background-color: #9bd494;
}
header
{
    display: flex;
    width: 100%;
}
#mainImage > img
{
    padding-top: 20px;
    width: 100px;
}
#headerText
{
    margin: 0px 10px 0px 10px;
    text-align: center;
    color: green;
    padding-top: 50px;
}
#homeButton > a > img {
    position: relative;
    padding-top: 20px;
    width: 100px;
}

/* article styles */
article
{
    margin: 10px 0px 10px 0px;
    background-color: rgba(155, 99, 71, 0.418);
}
.contactStuff {
    margin: 10px auto;
}
nav {
    margin: 5px auto;
    width: 70%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
nav div {
    margin: 10px;
}
nav .card {
    background-color: #41b132;
}
nav img {
    width: 250px;
    height: 250px;
}
article {
    margin: 5px auto;
    padding: 10px;
    width: 60%;
    font-size: 100%;
    text-align: center;
}
.historyText {
    font-size: 80%;
}

.link {
    opacity: .8;
}

footer {
    text-align: center;
    font-size: 12px;
    background-color: #203a1c;
    color: white;
    box-shadow: 0 20px 0 0 #203a1c;
}
footer p {
    padding: 25px
}